* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.conteiner-main {
  background-image: url(../img/spacejoy-9M66C_w_ToM-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.conteiner-main::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.conteiner-main .principal {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.info {
  padding: 1rem;
  display: grid;
  gap: 10px;
  /* grid-auto-rows: 20rem; */
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-flow: dense;
}
.info .sub-info img {
  width: 100%;
}
.info .sub-info h3 {
  text-align: center;
  font-size: 1rem;
}

.pais {
  padding: 0.5rem;
}
.pais .lugar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-auto-flow: dense;
}
.pais .lugar img {
  width: 100%;
}
.pais .lugar .lugar-h2 {
  display: flex;
  align-items: center;
}
.pais .lugar .lugar-h2 h2 {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}

.desktop {
  padding: 0.5rem;
  text-align: center;
}
.desktop .desktop-content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.desktop .desktop-content .desktop-h2 {
  padding: 0.5rem;
}
.desktop .img-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}
.desktop .img-item .capa-img {
  position: relative;
  overflow: hidden;
  border-radius: 8%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  transition: all 0.5ms;
  /* margin: 0.5rem;  */
}
.desktop .img-item .capa-img img {
  width: 100%;
  transition: all 500ms ease-out;
  border-radius: 8%;
}
.desktop .img-item .capa-img .subtitulo-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.7137254902);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(155, 101, 63);
}
.desktop .img-item .capa-img:hover .subtitulo-item {
  opacity: 1;
  visibility: visible;
}
.desktop .img-item .capa-img:hover img {
  /* padding: 5px; */
  scale: 0.9;
  transition: all 1s ease-out;
}
.desktop .img-item .capa-img h4 {
  font-size: 1rem;
}

.movil {
  display: none;
  text-align: center;
}
.movil .capa-img {
  position: relative;
  overflow: hidden;
  /*     border-radius: 8%;
   */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  transition: all 0.5ms;
  /* margin: 0.5rem;  */
}
.movil .capa-img img {
  width: 100%;
  transition: all 500ms ease-out;
  border-radius: 8%;
}
.movil .capa-img .subtitulo-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.7137254902);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(155, 101, 63);
}
.movil .capa-img:hover .subtitulo-item {
  opacity: 1;
  visibility: visible;
}
.movil .capa-img:hover img {
  /* padding: 5px; */
  scale: 0.9;
  transition: all 1s ease-out;
}
.movil .capa-img h4 {
  font-size: 1rem;
}

.link {
  text-decoration: none;
}
.link img {
  height: 40px;
}

@media (max-width: 576px) {
  .movil {
    display: block;
  }
  .slader-img {
    padding: 1rem;
  }
  .slader-img img {
    border-radius: 8%;
  }
  .desktop {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */