* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.conteiner-main {
  background-image: url(../img/spacejoy-9M66C_w_ToM-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  } 
  .principal  {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    
  }
}

.info {
  padding: 1rem;
  display: grid;
  gap: 10px;
  /* grid-auto-rows: 20rem; */
  grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
  grid-auto-flow: dense;
  .sub-info {
    img {
      width: 100%;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
    }
  }
}

.pais {
  /* padding: 1rem; */
  .lugar  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem,1fr));
    grid-auto-flow: dense;
    img {
      width: 100%;
      
    }
    .lugar-h2 {
      display: flex;
      align-items: center;
      h2 {
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem;
      }
    }
  }
}

.movil {
  display: block;
}

@media (min-width: 480px) {
  .movil {
    display: none;
  }
}
.slader-img {
  padding: 1rem;
}

